.App{
  text-allign:center;
  background-color:white;
  
}
  form{
  width:400px;
  margin:0 auto;
  
}

body{
  background-color:white;
}

input{
  display:block;
  width:200px;
  margin-bottom:1rem;
  margin: 0 auto 1rem auto;
  block-size: 1rem auto;
  background-origin: padding-box;
  background-color:white;
}
button{
  width: 80px;
  margin:0 auto;
  background-Color :red;
}
table{
  width:100%;
  border-collapse: collapse;
  margin-top: 4rem;
}
th,td{
  border : 1px solid #ddd;
  padding : 8px;
  
  
}
th{
 
 background-color: honeydew;
 height: 50px;
 width: 50px;
 border : 5px solid #000000;
 text-align : center;

}